html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

*:hover {
    transition: all 0.5s;
}

.a {
    font-size: 14px;
    text-decoration: none;
    color: rgba(60, 184, 120, 255)
}

.a:hover {
    text-decoration: underline;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.container {
    background-image: url("../img/rana-sawalha-364253-unsplash@1X.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.header {
    height: 56px;
    background: rgba(0, 0, 0, .5);
    position: relative;
    line-height: 56px;
    text-align: right;
}

.header-label {
    font-family: ﻿Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 255);
    float: left;
    display: inline-block;
    text-decoration: none;
    margin-left: 81px;
}

.header-label:hover {
    color: #3cb878;

}

.header-icon {
    display: inline-block;
    height: 28px;
    width: 28px;
    background: url("../img/css_sprites.png") no-repeat;

}

.header-icon1 {
    background-position: 94% 87%;
}

.header-icon1:hover {
    background-position: 94% 13%;
}


.header-icon2 {
    background-position: 9% 12%;
    margin-left: 28px;
    margin-right: 28px;
}

.header-icon2:hover {
    background-position: 55% 12%;
}

.header-icon3 {
    background-position: 7% 88%;
}

.header-icon3:hover {
    background-position: 45% 88%;
}

.header-welcome:before {
    content: '';
    display: inline-block;
    margin-right: 24px;
    position: relative;
    top: 3px;
    width: 1px;
    height: 19px;
    background: rgba(203, 203, 203, 0.75);
}

.header-welcome {
    color: white;
    font-size: 14px;
    display: inline-block;
    line-height: 31px;
}

.welcome-text {
    margin-right: 6px;
}

.welcome-text:last-of-type {
    margin-left: 6px;
}

.icons-text {
    margin-right: 75px;
    display: inline-block;
}

.icons {
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
    line-height: 90%;
}

.main {
    position: relative;
    height: calc(100% - 56px);
    width: 100%;
}

.form {
    width: 444px;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0, -50%);
    font-size: 14px;
    background: #ffffff;
    border-radius: 10px;
    overflow: auto;
}

.form-section {
    width: 322px;
    height: 100%;
    margin: 29px auto 32px;
    position: relative;
    box-sizing: border-box;
}

.top-btns {
    margin-bottom: 33px;
}

.form-header {
    position: relative;
    margin-bottom: 15px;
}

.form-header:before {
    content: "";
    width: 18px;
    height: 18px;
    background: #3cb878;
    display: inline-block;
    position: absolute;
    left: -61px;
}

.form-signup {
    font-size: 20px;
}

.form-a-login {
    position: absolute;
    right: 0;
    bottom: 0;
}

.text-btn {
    width: 109px;
    display: inline-block;
    text-align: right;
}

.btn-facebook, .btn-google {
    padding: 9px 0 9px 0;
    width: calc(50% - 4px);
    display: inline-block;
    text-align: center;
    line-height: 28px;
}

.btn-facebook {
    background: #305db8;
}

.btn-google {
    background: #df4a32;
    position: absolute;
    right: 0;
}

.btn {
    border-radius: 3px;
    font-size: 16px;
    border: none;
    color: #ffffff;
}

.btn:hover {
    filter: brightness(90%);
}

.or {
    display: block;
    text-align: center;
    color: #848484;
    margin-bottom: 18px;
    position: relative;
}

.or:before {
    display: inline-block;
    background: #eaeaea;
    content: "";
    width: 135px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 8px;
}

.or:after {
    display: inline-block;
    background: #eaeaea;
    content: "";
    width: 135px;
    height: 1px;
    position: absolute;
    right: 0;
    top: 8px;
}

.input {
    width: 100%;
    padding: 14px 17px;
    margin: 0 auto 9px;
    display: block;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

.input::placeholder {
    color: #bebebe;
}

.input:last-of-type {
    margin-bottom: 22px;
}

.input:focus {
    border: 1px solid #eaeaea;
    color: #434343;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
}

.icon-f {
    left: 20px;
    padding-right: 17px;
}

.icon-g {
    left: 13px;
    padding-right: 9px;
}

.fab {
    display: inline-block;
    position: absolute;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 20px;
    line-height: 28px;
}

.container-ch {
    font-size: 14px;
    display: block;
    position: relative;
    padding-left: 35px;
    line-height: 20px;
}

.checkbox:checked ~ .checkmark:after {
    display: block;
}

.checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #3cb878;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.create {
    background: #3cb878;
    width: 322px;
    padding: 14px;
    display: block;
    margin-top: 28px;
}
