a{color:#16a085;
    text-decoration: none;
}

nav {  font-family: AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 18px;
    text-transform:uppercase;
    margin-top:32px;
    margin-bottom: 35px;
    }

.home{margin-right:65px;
    margin-left: 332px;
}
.photoapp{margin-right:70px;
    }
.design{margin-right: 78px}
@font-face {
    font-family: ﻿Roboto-Black; /* Имя шрифта */
    src: url(3953.ttf); /* Путь к файлу со шрифтом */
    }
@font-face {
    font-family: GothamRounded-Bold; /* Имя шрифта */
    src: url(GothamRounded-Bold.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: ﻿MyriadPro-Regular; /* Имя шрифта */
    src: url(8143.otf); /* Путь к файлу со шрифтом */
}
img {height: 790px;
    width: 1280px;
    }

h2{color:#373737;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 22pt;
    margin-top:59px;
    margin-bottom: 34px;
    margin-left: 342px;
    }

.text{height: 354px;
    width: 1059px;
    margin-left: 113px;
    text-align: center;
    color: #373737;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 16pt;
}
.otstup{margin-bottom:34px;}

button{background: #16a085;
    color:#ffffff;
    font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 12pt;
    height: 51px;
    width: 192px;
    text-align: center;
    margin-left: 527px;
    text-transform:uppercase;
    border-radius: 5px;
    border: none;
    margin-bottom: 94px;
}
.bottom_box{
    height: 650px;
    width: 1280px;
    background:#f5f6f7;
    margin-top:-650px;
}
footer{
    color: #373737;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 16pt;
    text-align: left;
    margin-top:47px;
    margin-bottom: 45px;
    margin-left: 768px;
}