.label {
    color: #4bcaff;
    text-decoration: none;
    font-size: 80px;

}

.piceword {
    color: #000000
}

.all {
    margin: 0 auto;
    font-family: sans-serif;
    margin-top: 61px;
    margin-bottom: 51px;
    width: 1280px;
}

.top_menu {
    display: inline-block;
    width: 100%;
    background: #35444f;
    margin-top: 45px;
    margin-bottom: 51px;
    text-align: center;

}

.topnav {
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
    padding: 21px;
}

.topnav:hover {
    background: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.atopnav {
    color: #ffffff;
    text-decoration: none;
}

.navigation-left {
    display: inline-block;
    border: 1px solid gray;
    width: 30%;
    margin-right: 2.5%;
    vertical-align: top;

}

.navl {
    /*display: inline-block;*/
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 41px;

}

.anavl {
    color: red;
    text-decoration: none;
    color: rgba(73, 88, 99, 255);
    font-size: 30px;
}

.navl:hover {
    padding-left: 69px;
    background: #dbdbdb;
    /*border-right:1px solid gray;*/
    /*border-left:1px solid gray;*/
}

.anavl:hover {
    color: black;;

}

.picture {
    display: inline-block;
    border: 1px solid gray;
}

.ramp {
    width: 320px;
    height: 381px;
    padding: 75px 268px;
    transition: .3s ease-in-out;
    transform: scale(1);
}

.ramp:hover {
    transform: scale(1.2);
}

.pic-text {
    display: inline-block;
    width: 64.6%;
}

.fulltext {
    text-align: left;
    padding: 50px 5%;
    color: rgba(44, 44, 44, 255);
    font-size: 18px;
}

.text1 {
    padding-bottom: 30px;
}

.foternav {
    display: inline-block;
    width: 100%;
    background: #b4b7ba;
    text-align: center;
    padding-left: 44px;
    /*padding-left: auto;*/
    /*padding-right: auto;*/
}

.f-ul {
    display: inline-block
}

.fnav {
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 5px;

}

.afnav {
    font-size: 28px;
    color: rgba(12, 25, 39, 255);
    text-decoration: none;
}

.afnav:hover {
    text-decoration: underline;
    color: #3181a6;
}

.fcopir {
    text-align: right;
    padding-left: 218px;
}

/*.fu-l {*/
/*    padding-left: 41px;*/
/*}*/