.label {
    color: #4bcaff;
    text-decoration: none;
    font-size: 80px;

}

.label_piceword {
    color: #000000
}

.container {
    font-family: sans-serif;
    margin: 61px auto 51px auto ;

    width: 1280px;

 
}

.top_navigation {
    display: inline-block;
    width: 100%;
    background: #35444f;
    margin-top: 45px;
    margin-bottom: 51px;
    text-align: center;

}

.top_navigation_item {
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
    padding: 21px;
}

.top_navigation_item:hover {
    background: #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.top_navigation_ssylka {
    color: #ffffff;
    text-decoration: none;
}

.navigation-left {
    display: inline-block;
    border: 1px solid gray;
    width: 344px;
    margin-right:51px;
    vertical-align: top;
    box-sizing: border-box;

}

.navigation-left-item {
    /*display: inline-block;*/
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 41px;

}

.navigation-left-ssylka {
    color: red;
    text-decoration: none;
    color: rgba(73, 88, 99, 255);
    font-size: 30px;
}

.navigation-left-item:hover {
    padding-left: 69px;
    background: #dbdbdb;
    /*border-right:1px solid gray;*/
    /*border-left:1px solid gray;*/
}

.navigation-left-ssylka:hover {
    color: black;;

}

.main-picture-conteiner {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid gray;
    width: 100%;

}

.main-img {
    width: 320px;
    height: 381px;
    padding: 75px 268px;
    transition: .3s ease-in-out;
    transform: scale(1);
}

.main-img:hover {
    transform: scale(1.2);
}

.main {
    display: inline-block;
    width: 885px;
    box-sizing: border-box;
}

.main-text {
    text-align: left;
    padding: 50px 5%;
    color: rgba(44, 44, 44, 255);
    font-size: 18px;
}

.main-text1 {
    padding-bottom: 30px;
}

.footer-navigation {
    display: inline-block;
    width: 100%;
    background: #b4b7ba;
    text-align: center;
}

.footer-navigation__list {
    display: inline-block
}

.footer-navigation__item {
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 5px;

}

.footer-navigation__ssylka {
    font-size: 28px;
    color: rgba(12, 25, 39, 255);
    text-decoration: none;
}

.footer-navigation__ssylka:hover {
    text-decoration: underline;
    color: #3181a6;
}

.footer-navigation__copiright {
    text-align: right;
    padding-left: 180px;
}

/*.fu-l {*/
/*    padding-left: 41px;*/
/*}*/