.mainTheme {
    background: black;
    color: #ffce15;
}

.main {
    position: absolute;
    perspective: 100px;
    transform: rotateX(15deg);
    transform-origin: 50% 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.container {
    position: absolute;
    bottom: 0;
    top: 100vh;
    left: 0;
    right: 0;
    /*color: #ffce15;*/
    font-family: sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 5%;
    /*box-sizing: border-box;*/
    transform: rotateX(14deg);
    transform-origin: 50% 100%;
    animation: slideUp 30s linear infinite;
    overflow: hidden;
}

.heading {
    text-align: center;
    padding: 60px 0;
    box-sizing: border-box;
}

.text {
    padding: 30px 0;
    box-sizing: border-box;
}

@keyframes slideUp {
    to {
        margin-top: -700vh;
    }
}

/*++++++++++++++++*/

.btnTheme{
    background: #ffce15;
    position: fixed;
    right: 10px;
    top: 10px;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btnTheme:hover{
    box-shadow: 0 0 10px #ffce15
}

.mainThemeWhite{
    background: white;
    color: #716cff;
}

.btnThemeWhite{
    background: #716cff;
    color: white;
    position: fixed;
    right: 10px;
    top: 10px;
    border: none;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btnThemeWhite:hover{
    box-shadow: 0 0 10px #716cff
    }